# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# VS Code
.vscode/

# Mac / Linux
.DS_Store

db.sqlite3
